<nz-alert [nzType]="'info'" [nzMessage]="'Create Admin Form'">
</nz-alert>
<br>
<br>
<form nz-form [formGroup]="form" [nzGutter]="16" class="login-form" (ngSubmit)="submitForm()" nz-row>
  <nz-form-item nz-col nzSpan="24" [nzMd]="{ span: 8 }">
    <nz-form-control nzErrorTip="Please input company name!">
      <nz-input-group nzPrefixIcon="man">
        <input type="text" nz-input formControlName="companyName" placeholder="Company Name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-col nzSpan="24" [nzMd]="{ span: 8 }">
    <nz-form-control nzErrorTip="Please input your Username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="username" placeholder="Username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-col nzSpan="24" [nzMd]="{ span: 8 }">
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-col nzSpan="24" [nzMd]="{ span: 24 }">
    <nz-form-control nzErrorTip="Please input Company logo url!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="text" nz-input formControlName="url" placeholder="Company Logo Url" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <img
     *ngIf="form.value.url"
      class="logo-image"
      nz-image
      width="200px"
      height="200px"
      [nzSrc]="form.value.url"
      alt="Invalid Image Url"
    />
  <button nz-col nzSpan="24" [nzSm]="{ span: 24 }" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Create Account</button>
  Or <a (click)="resetForm()"> Reset Form! </a>
</form>
