<div nz-row [nzGutter]="24" *ngIf="!isLoading">
  <div nz-col *ngFor="let admin of admins; let i = index">
    <div class="hover01 column">
      <div>
        <figure>
          <!-- <img src="" /> -->
          <h3>{{ admin.companyName.toUpperCase() }}</h3>
          <img
            width="300px"
            height="300px"
            [src]="admin.logoUrl"
            alt="company logo.png"
            (click)="openDrawer(i)"
          />
        </figure>
        <span>Hover</span>
      </div>
    </div>
  </div>
</div>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
